@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: var(--gray-white);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--gray-white);
}

:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --light-black: #212523;
    --light-black-op: #21252350;
    --main-green: #157343;
    --main-light: #37A000;
    --light-orange: #FD7E14;
    --light-orange-bg: #fd7d1422;
    --green: #008000;
    --light-green: #e9f6ec;
    --red: #FF0000;
    --light-red: #fbeaec;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;
}
/* === PARENT CONTAINER === */
.sh-parent-container{
    width: 100%;
    padding: 20px;
    gap: 30px;
    display: flex;

}
/* === LEFT ITEM SCTION === */
.sh-left-section{
    width: 100%;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
}
/* === PAYMENT TOP ITEMS === */
.sh-payment-top-item{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sh-payment-top-item p{
    font-size: var(--secondary-head);
    font-weight: 500;
}
.sh-payment-top-item a{
    padding: 8px 10px;
    border-radius: 5px;
    background-color: var(--main-green);
    color: var(--white);
}
.sh-payment-top-item i{
    margin-right: 5px;
}
/* === TABLE SECTION === */
.sh-table-section{
    padding: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid var(--light-black-op);
    padding: 10px 15px;
}
.sh-id{
    width: 100%;
}
.sh-status{
    width: 100%;
}
.sh-icon{
    width: 100%;
}
.sh-action{
    width: 100%;
}
.text-start{
    text-align: left;
}
.sh-positon input{
    padding: 4px 4px;
    border: 1px solid var(--light-black-op);
    font-size: var(--primary-para);
    text-align: right;
}
.sh-positon input:focus{
    outline: none;
}
.sh-money{
    text-align: center;
}
.sh-action-items{
    gap: 10px;
    display: flex;
    align-items: center;
}
.sh-edit-icon i{
    color: var(--light-orange);
    padding: 6px 6px;
    border: 1px solid var(--light-orange);
    background-color: var(--light-orange-bg);
}
.sh-edit-icon i:hover{
    background-color: var(--light-orange);
    color: var(--white);
}
.sh-trash-icon i{
    color: var(--red);
    padding: 6px 6px;
    border: 1px solid var(--red);
    background-color: var(--light-red);
}
.sh-trash-icon i:hover{
    background-color: var(--red);
    color: white;
}
.shactiv{
    background-color: var(--light-green);
    padding: 4px 10px;
    border-radius: 100px;
}
table tbody:nth-child(2n+1){
    background: rgba(211, 211, 211, 0.443);
}
table tbody:hover{
    background-color: lightgray;
}
.sh-update{
    padding: 20px;
}
.sh-update p{
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--main-green);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* === RIGHT SECTION === */
.sh-right-section{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
}