@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: var(--gray-white);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--gray-white);
}

:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --light-black: #212523;
    --light-black-op: #21252350;
    --main-green: #157343;
    --main-light: #37A000;
    --light-orange: #FD7E14;
    --light-orange-bg: #fd7d1422;
    --green: #008000;
    --light-green: #e9f6ec;
    --red: #FF0000;
    --light-red: #fbeaec;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;
}

/* === PARENT CONTAINER === */
.sh-parent-cotainer {
    width: 100%;
}

/* === CHILD CONTAINER === */
.sh-child-container {
    margin: 20px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
}

/* === TOP ITEMS === */
.sh-top-items {
    padding: 20px;
}

.sh-top-items p {
    font-size: var(--secondary-head);
    font-weight: 500;
}
/* === PREFIX INPUTS === */
.sh-prefix-inputs-section{
    padding: 20px;
    flex-wrap: wrap;
}
.sh-prefix-input-container{
    gap: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sh-prefix-input-item{
    width: 100%;
    line-height: 2em;
    font-size: var(--secondary);
    display: flex;
    flex-direction: column;
}
.sh-prefix-input-item input{
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid  var(--light-black-op);
    font-size: var(--secondary);
}
.sh-prefix-input-item input:focus{
    outline: none;
}
.sh-save-btn {
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.sh-save-btn a {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: var(--secondary-head);
    color: var(--white);
    background-color: var(--main-green);
}